.properties
.gradle

bin

Libs

settings

output

!output/.gitkeep
build

.classpath
.github

.project 

**/*.png
.git 
.cache
.settings

Libs
Plugins
Reports
Settings  
Object Repository
Profiles
settings/internal/com.kms.katalon.composer.testcase.properties
